# Class 6 Notebook 1: Lists and dictionaries

Class 6 (5 Dec 2016) of [BS1804-1617 Fundamentals of Database Technologies](https://imperialbusiness.school/category/bs1804-1617/) by [Piotr Migda≈Ç](http://p.migdal.pl/)

General reference: [Data Structures - The Python Tutorial](https://docs.python.org/3/tutorial/datastructures.html)

## List

A sequence of elements.

In [1]:
# syntax for creating a list
x = ["a", "sequence", "of", "words"]

In [2]:
# checking its length
len(x)

4

In [3]:
# to access an element we use (we start the index from zero!)
x[0]

'a'

In [4]:
# we can also count backwards
x[-1]

'words'

In [5]:
# or modify it
x[1] = "collection"

## Dictionary

A key-value mapping.

(Note: in other languages it can be called an object (in JavaScript), a map)

In [6]:
# syntax for creating a dicitonary
# order is not important
y = {"en": "English",
     "de": "German",
     "fr": "French",
     "es": "Spanish"}

In [7]:
len(y)

4

In [8]:
y.keys()

dict_keys(['en', 'de', 'es', 'fr'])

In [9]:
y.values()

dict_values(['English', 'German', 'Spanish', 'French'])

In [10]:
y["de"]

'German'

In [11]:
"ru" in y

False

In [12]:
y["ru"] = "Russian"

In [13]:
"ru" in y

True

In [14]:
y

{'de': 'German',
 'en': 'English',
 'es': 'Spanish',
 'fr': 'French',
 'ru': 'Russian'}

## Combinations

In [15]:
z = [
      {"name": "Adrian",
       "age": 8,
       "pets": ["snake", "snake", "gerbil"]},
      {"name": "Natalie",
       "age": 11,
       "pets": ["cat"]},
      {"name": "Sarah",
       "age": 9,
       "pets": ["dog", "lizard"]}
    ]

In [16]:
z

[{'age': 8, 'name': 'Adrian', 'pets': ['snake', 'snake', 'gerbil']},
 {'age': 11, 'name': 'Natalie', 'pets': ['cat']},
 {'age': 9, 'name': 'Sarah', 'pets': ['dog', 'lizard']}]

In [17]:
# to access it we use []
z[0]["pets"]

['snake', 'snake', 'gerbil']

In [18]:
z[0]["pets"][2]

'gerbil'

## Exercises

* Get name of the 3rd person.
* Add two more children with thier pets.
* (extra) Write a function